body{
    margin: 0px;
    padding: 0px;


    background-image: url(/assets/images/skyscraper4.jpg);
    background-image: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.loginform{
    background-color: white;
    width: 30%;
    height: auto;
    margin: 7% auto;
    padding: 25px 10px;

}

@media screen and (max-width: 450px)
{
    .loginform{
        width: 90%;
         margin: 35% auto;
       
    
    }
    
}