@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
ul{
    padding-left: 40px;
    padding-block: 10px;
}
img,picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contain{
    padding-inline: 3em;
}
.bg-color{
    background-color: hsla(206, 15%, 91%, 0.837);
    padding-block: 5em;
}
.bg-color h1{
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    color: #211f1f;
}
.bg-color p{
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    line-height: 2;
}
.p-info{
    font-family: "Poppins", sans-serif;
    font-size: 0.87rem;
}
.h3-info{
    text-transform: capitalize;
    font-size: 1.4rem;
    line-height: 3;
    font-family: "Roboto", sans-serif;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-block: 50px;
}
.flex > *{
    flex: 1 0;
}
.info-img{
    width: 500px;
    height: 600px;
    object-fit: cover;
    padding-left: 40px;
}
