form{
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    
}

#empi{
    padding-bottom: 1rem;
}

#employ{
    padding-bottom: 2rem;
}

#jobT{
    margin-right: 5rem;
}
#addy{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#padyT{
    padding-top: 1rem;
}
#margR{
    margin-right: 4rem;
}